* {
  box-sizing: border-box;
}
.container-fluid {
  padding: 0px;
  margin: 0;
}
.containerheader {
  margin-left: 150px;
  margin-right: 150px;
}

#namecolor{
  color: #f7c08a;
}

.navbar{
  text-align: right;
}

a:hover {
  color: #f7c08a;
  
}
a.active {
  color: #f7c08a;
  
}

.navbar {
  padding: 0;
  float: right;

}

.containerdescription{
  background: #fff;
  margin: 0;
}
.jumbotron {

  /* margin-top: 50px; */
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
  padding: 50px;
}

@keyframes example {
  from {color: #343a40}
  to {color: #f7c08a;}
}

.descritpionname  {
  color: #343a40;
  animation-name: example;
  animation-duration: 4s;
}

footer {
  color: #343a40;

  height: 40px;
  background: #343a40;
  position: fixed;
  bottom: 0;
  left: 0;
  max-width: 100%;
}